tmp
target
node_modules
bower_components

# Editor File Ignore
*.sublime-project
*.sublime-workspace
.idea/

src/index.html
src/bower_components/
src/javascript/
src/img/
src/media/
src/dist/


dist/
